#rebunimg {
max-width: 800px;
height: auto;
border-radius: 16px;
}
#cbeimg {
  max-width: 800px;
  height: auto;
  border-radius: 16px;
}
#cdsimg {
  max-width: 800px;
  height: auto;
  border-radius: 16px;
}